<!DOCTYPE html>
<html>
<head>
	<title>The Homepage</title>
</head>
<body>
	<h1>Hello {{name}}!</h1>
	<h2>This is the homepage of the news application</h2>
	<ul>
	<li><a href="http://0.0.0.0:5000/headlines">Top Headlines</a><br></li>
	<li><a href="http://0.0.0.0:5000/general">General News</a><br></li>
	<li><a href="http://0.0.0.0:5000/technical">Technical News</a><br></li>
	<li><a href="http://0.0.0.0:5000/business">Business News</a><br></li>
	<li><a href="http://0.0.0.0:5000/entertainment">Entertainment News</a><br></li>
	<!-- <li><a href="http://0.0.0.0:5000/science">Science and Nature News</a><br> --></li>
</ul>
</body>
</html>